<div id="flash-messages">
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            <i class="fa fa-2x fa-check" aria-hidden="true"></i> {{ flashMessage|trans|raw|nl2br }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
            <i class="fa fa-2x fa-exclamation-triangle" aria-hidden="true"></i> {{ flashMessage|trans|raw|nl2br }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-info">
            <i class="fa fa-2x fa-info-circle" aria-hidden="true"></i> {{ flashMessage|trans|raw|nl2br }}
        </div>
    {% endfor %}
</div>